[2014-01-27 23:34] htmfilho opened #3 "Add Liquibase to the project"

[2014-01-27 23:35] #3 closed, assigned to htmfilho

[2014-01-27 23:38] htmfilho opened #4 "Explain in the wiki how to use Liquibase to change the database"

[2014-01-28 01:33] helio-frota opened #6 "Problem with version tag pom.xml"
'version' uses an unsupported snapshot version format, should be '*-SNAPSHOT' instead. @ line 6, column 11
[WARNING]
[WARNING] It is highly recommended to fix these problems because they threaten the stability of your build.
[WARNING]
[WARNING] For this reason, future Maven versions might no longer support building such malformed projects.

please make a pull to fix the version

from
<version>0.1.

[2014-01-28 01:53] paulojribp commented on #6
Hi @eprogramming,

If you want, you can fix it. It's a minor issue but can be the first way you participate the project.
If you don't, let me know then I will fix it.

Thanks

[2014-01-28 02:02] helio-frota commented on #6
Hi

the .gitignore file from @danielsoro is needed because target folder included.

https://github.com/danielsoro/hurraa/commit/3032ffd00c8965eafa58e6fe38b42951f6fc7636

comment updated i need to keep focused, sorry. : ]

[2014-01-28 02:28] betowebti commented on #6
+1 kkkk

Atenciosamente:

  Roberto Coelho

[code]

+5585 3037-4453 (gvt)

+5585 9635-1127 (tim)

+5585 9226-1748 (claro)
+5585 8185-6435 (vivo)

_"Comece fazendo o que é necessário, e depois o que é possível, de repente
você estará fazendo o impossível."  *
*"Um pessimista vê dificuldade em cada oportunidade. Um otimista vê
oportunidade em cada dificuldade."_

_"Start by doing what's necessary, t

[2014-01-28 02:36] paulojribp commented on #6
Great Helio (@eprogramming) :D
That pull request fix it. Thanks.

[2014-01-28 13:33] #6 closed, assigned to nobody

[2014-01-29 00:29] helio-frota opened #9 "problem with vraptor jsp publication eclipse + wildfly plugin"
![04](https://f.cloud.github.com/assets/6443576/2025481/6d59fd6a-887c-11e3-8d0d-7b186d965aa1.png)
1) run the app
2) edit some jsp
3) reload brower and get the error
#

Caused by: java.lang.ClassCastException: org.apache.jsp.tag.web.textField_tag cannot be cast to org.apache.jsp.tag.web.textField_tag
    at org.apache.jsp.WEB_002dINF.jsp.manufacturer.form_jsp._jspx_meth_cejug_005ftextField_005f0(fo

[2014-01-29 00:33] helio-frota opened #10 "working with JSP to evict DRY or not ?"
1) includes
or
2) sitemesh

?

[2014-01-29 00:36] helio-frota commented on #9
tested with and without     jsp-configuration development="true"
works only with full publish here.

[2014-01-29 01:10] helio-frota opened #11 "setup jquery 2"

[2014-01-29 01:10] helio-frota opened #12 "setup purecss"

[2014-01-29 01:11] helio-frota opened #13 "setup arquillian"

[2014-01-29 02:40] efraimgentil commented on #9
Bug, apparently it is already fixed to the final release
https://issues.jboss.org/browse/WFLY-2690

[2014-01-29 04:52] helio-frota commented on #9
Good catch @efraimgentil !
the comment :
https://issues.jboss.org/browse/WFLY-2690

[2014-01-29 11:06] danielsoro commented on #10
I prefer sitemesh.

[2014-01-29 11:12] helio-frota commented on #10
@danielsoro me too :+1:

[2014-01-29 12:40] paulojribp commented on #10
Good question. Freemarker can help us too?

[2014-01-29 12:45] betowebti commented on #10
Freemarker seemed easier...

Atenciosamente:

  Roberto Coelho

[code]

+5585 3037-4453 (gvt)

+5585 9635-1127 (tim)

+5585 9226-1748 (claro)
+5585 8185-6435 (vivo)

_"Comece fazendo o que é necessário, e depois o que é possível, de repente
você estará fazendo o impossível."  *
*"Um pessimista vê dificuldade em cada oportunidade. Um otimista vê
oportunidade em cada dificuldade."_

_"Start by doing

[2014-01-29 12:47] paulojribp commented on #11
What this issue mean? Only to setup jquery in the project?

[2014-01-29 13:10] paulojribp commented on #9
Great.. if it does not depends of Hurraa I will close this issue. Thanks.

[2014-01-29 13:10] #9 closed, assigned to nobody

[2014-01-29 13:22] helio-frota commented on #11
Yes, but with it depends on issue about sitemesh Vs jsp includes.

[2014-01-29 13:25] helio-frota commented on #10
@paulojribp @betowebti
i don't know freemarker as "composite view pattern" , i guess is a template engine only right ?
i'm not sure about.

[2014-01-29 13:26] helio-frota commented on #10
@paulojribp freemarker can help a lot with mail template messages.
to evict build this message on stringBuilder append on java code

[2014-01-30 00:06] helio-frota commented on #13
Please see or merge the pull request so others can help on the solution too.

[2014-01-30 00:07] helio-frota commented on #13
org.jboss.arquillian.container.spi.client.container.LifecycleException: Could not start container
    at org.jboss.as.arquillian.container.managed.ManagedDeployableContainer.startInternal(ManagedDeployableContainer.java:201)
    at org.jboss.as.arquillian.container.CommonDeployableContainer.start(CommonDeployableContainer.java:112)
    at org.jboss.arquillian.container.impl.ContainerImpl.start(Con

[2014-01-30 00:21] helio-frota commented on #13
#15

[2014-01-30 03:20] paulojribp commented on #10
Yeah.. I only use for this :/ sorry. I think wrong.
Let's use sitemesh, but let try to keep it simple to new devs can understand and help us with, right?!

[2014-01-30 03:22] paulojribp opened #17 "Include Sitemesh in the project"
The challenge is to keep it simple to new devs can understand and use it.

[2014-01-30 03:23] #10 closed, assigned to nobody

[2014-01-30 03:24] paulojribp commented on #10
An issue was created to make Sitemesh work. #17

[2014-01-30 03:48] helio-frota commented on #17
:+1:  perfect for now

[2014-01-30 03:49] helio-frota commented on #11
with #17

[2014-01-30 03:50] helio-frota commented on #12
with #17

[2014-01-30 17:11] paulojribp commented on #13
@eprogramming: @efraimgentil has add Arquillian to the project via pull request. If that works, we can close this issue right?

[2014-01-30 18:04] helio-frota commented on #13
right.

[2014-01-30 21:54] helio-frota commented on #13
WF (wildfly) runs ok but i always get one error
org.jboss.arquillian.test.spi.ArquillianProxyException: com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException : Unknown column 'sector0_.active' in 'field list' [Proxied because : Original exception not deserilizable, ClassNotFoundException]

[2014-01-30 21:57] helio-frota commented on #17
![05](https://f.cloud.github.com/assets/6443576/2045494/77418586-89f9-11e3-8d2a-6f0a9aaedf93.png)

[2014-01-30 21:58] helio-frota commented on #17
just to start small with sitemesh
1)header with menu and footer

[2014-01-30 22:15] helio-frota commented on #13
Arquillian is ok !
The problem is only the database inconsistence.

[2014-01-30 22:15] #13 closed, assigned to nobody

[2014-01-30 23:18] helio-frota opened #19 "Update README with configuration of env variable on MAC"
How to set up env variable WILDFLY_HOME on Mac

[2014-01-30 23:20] helio-frota opened #20 "Update README with configuration of env variable on Windows"
How to set up env variable WILDFLY_HOME on Windows

[2014-01-30 23:29] danielsoro commented on #19
Added. :-)

[2014-01-30 23:29] #19 closed, assigned to nobody

[2014-01-31 03:03] efraimgentil opened #22 "UTF-8 controller problem"
I don't know if is only happening to me, but when i try to save something that have a accent it will be received in the controller with wrong characters

[2014-01-31 08:18] htmfilho commented on #22
I had the same problem in another project and I had to add this filter https://github.com/htmfilho/architect/blob/master/src/main/java/com/hildeberto/architect/util/CharacterEncodingFilter.java :(

[2014-01-31 09:56] helio-frota commented on #22
take care with botton-up approach:
0) SO
1) mysql
2) container
3) page encoding
4) not using ajax yet but this count too if the framework don't deal with it yet
*and wait if sitemesh don't include the issue too..

btw everything need/must to be UTF-8

[2014-01-31 10:06] helio-frota commented on #22
just to share with others about mysql utf-8 and showing a sample of simple setup install of war app:

http://kawai.soliveirajr.com/mtw/Page/Installation/how-to-install-the-kawai-wiki

[2014-01-31 10:07] htmfilho commented on #4
Done: https://github.com/cejug/hurraa/wiki/Updating-the-Database-Structure

[2014-01-31 10:07] #4 closed, assigned to htmfilho

[2014-01-31 11:05] efraimgentil commented on #22
I thought it may be the encoding in the database but i made the tests and
the mess start when the controller receive the request...

at the VRaptor Wiki they says to use this

<context-param>
    <param-name>br.com.caelum.vraptor.encoding</param-name>
    <param-value>UTF-8</param-value></context-param>

but didn't worked for me, i will try to see this later today

2014-01-31 eprogramming notifica

[2014-01-31 11:44] paulojribp commented on #22
I'm going to ask people here about this. I have the same problem.

[2014-01-31 13:36] paulojribp commented on #4
I have a doubt. Our propose is that new devs contribute with the project too, right? So, I think that the Wiki pages must to be written in Portuguese also. So, the project can have international contribution and new devs too. What do you think?

[2014-01-31 13:38] betowebti commented on #4
I think that to have to languages: pt-BR and EN

Atenciosamente:

  Roberto Coelho

[code]

[2014-01-31 13:43] htmfilho commented on #4
My experience on Yougi is that the Portuguese version gets outdated very fast because the contributor who was responsible for the translation is not that engaged in the project anymore.

I'm not translating because the work of writing is already enough work to deal with. Beginners can use Chrome to translate the page or use Google Translator.

[2014-01-31 14:08] paulojribp opened #23 "Explain in the Wiki how to use git with Hurraa"
Make a Wiki page.

[2014-01-31 14:30] paulojribp commented on #23
Done! https://github.com/cejug/hurraa/wiki/How-use-git-properly-in-an-open-source-project

[2014-01-31 14:30] #23 closed, assigned to nobody

[2014-01-31 14:47] brunnooliveira commented on #4
I think that only in english, encourages the beginners to learn more fast
the language.

2014-01-31 Hildeberto Mendonça notifications@github.com:

##

Brunno Gonçalves
85 8705.1940

Bacharel em Ciência da Computação
Análise e Desenvolvimento de Sistemas
Companhia de Água e Esgoto do Ceará - CAGECE

[2014-01-31 14:49] rsaraiva commented on #17
I am implementing an example for this.

[2014-01-31 14:51] danielsoro commented on #4
Yes @brunnooliveira. I don't speak english very well @htmfilho @paulojribp @eprogramming help me. :)

[2014-01-31 15:05] helio-frota commented on #4
:+1:

[2014-01-31 22:31] helio-frota commented on #17
@rsaraiva going to close this issue now jquery and css of purecss.io can be done !
well done !

[2014-01-31 22:31] #17 closed, assigned to nobody

[2014-01-31 22:58] helio-frota commented on #22
@efraimgentil here too.
going to investigate this.

[2014-02-01 00:10] helio-frota commented on #22
@efraimgentil
I debug the vraptor and the parameter followed without modification to the WF, maybe WF bug ? not respecting a custom request encoding ?

[2014-02-01 01:24] helio-frota commented on #22
1) https://issues.jboss.org/browse/WFLY-2276
pelase see the comment "pull request sent. With this change you can configure encoding on listener(s)"

I did this without results...

@WebListener
public class EncodingListener implements ServletRequestListener {
     public void requestDestroyed(ServletRequestEvent servletRequestEvent) {
        ServletRequest servletRequest = servletRequestEvent.getS

[2014-02-01 01:41] danielsoro commented on #22
Great Helio! :-)

[2014-02-01 01:45] efraimgentil commented on #22
Nice helio, i will also take a look now =)

2014-01-31 Daniel Cunha notifications@github.com:

##

Atenciosamente,
Efraim Gentil - @efraimgentil https://twitter.com/efraimgentil
Github: efriamgentil https://github.com/efraimgentil

[2014-02-01 03:31] emanuelmm commented on #12
#28

[2014-02-01 03:33] helio-frota opened #29 "Add purecss class on html elements"
http://purecss.io/buttons/
http://purecss.io/forms/
etc...

[2014-02-01 10:46] garcia-jj opened #32 "Change datasource lib location"
From hurraa readme:

But according Wildfly docs, all users libs must be located at `WILDFLY_HOME/modules`. `/system/layers/` location is only used by Wildfly.

[2014-02-01 17:18] italocosta opened #33 "We need to draw a picture for design logo"
Some designer on call ?

[2014-02-01 17:22] betowebti commented on #33
We already have a logo

[2014-02-01 17:26] italocosta commented on #33
I did not know. Sorrry. What's it ?

[2014-02-01 17:33] betowebti commented on #33
get here http://hurraa.betoweb.com.br/img/

[2014-02-01 17:38] #33 closed, assigned to nobody

[2014-02-01 18:22] #12 closed, assigned to nobody

[2014-02-01 19:05] helio-frota commented on #32
@garcia-jj is true, thanks  !

"Install the JDBC driver as a core module"
"For example, using the MySQL JDBC driver above, you would create a directory structure as follows:    JBOSS_HOME/modules/com/mysql/main ... "

https://docs.jboss.org/author/display/WFLY8/How+do+I+migrate+my+application+from+AS5+or+AS6+to+WildFly

[2014-02-01 20:17] helio-frota opened #34 "Add the favicon and logo"
http://hurraa.betoweb.com.br/img/

[2014-02-01 21:34] italocosta opened #35 "Error accessing the form CRUDS"
The error occurs when we try to access a form of a crud. Doing some tests I realized that only the first born crud is functioning normally, the next show error loading the form.

 java.lang.ClassCastException: org.apache.jsp.tag.web.textField_tag cannot be cast to org.apache.jsp.tag.web.textField_tag

![erroformcrudhurraa](https://f.cloud.github.com/assets/5852628/2058850/1e433606-8b88-11e3-83e7-2

[2014-02-01 23:37] efraimgentil commented on #34
Tested and ok, good job Italo

[2014-02-01 23:37] #34 closed, assigned to nobody

[2014-02-02 01:44] betowebti commented on #32
If you put mysql libs in WILDFLY_HOME/modules/com/mysql/main you get the following error:

[standalone@localhost:9990 /] ./subsystem=datasources/jdbc-driver=com.mysql:add(driver-name="com.mysql", driver-module-name="com.mysql", driver-xa-datasource-class-name="com.mysql.jdbc.jdbc2.optional.MysqlXADataSource" )
{
    "outcome" => "failed",
    "failure-description" => "JBAS010441: Failed to load mo

[2014-02-02 02:00] garcia-jj commented on #32
Beto, attached have a printscreen of my pgsql driver under Wildfly modules location.

Check if your jar is located under modules/com/mysql/main and if module.xml properly defines the jar and your dependencies.

[code]

![screenshot from 2014-02-01 23 55 17](https://f.cloud.github.com/assets/140387/2059422/663794be-8bad-11e3-89dd-f335c74a4db3.png)

[2014-02-02 02:05] betowebti commented on #32
Thank's! Sorry, my fault. I extract to another folder... ;)

[2014-02-02 02:07] helio-frota commented on #32
wait:
1) the focus is standalone mode  ?

"WildFly offers two modes: a traditional, single JVM, standalone mode, and a multi-JVM option, domain mode, which synchronizes configuration across any number of processes and hosts."

http://wildfly.org/about/

So the doc says:

"Install the JDBC driver as a deployment"
"In WildFly 8 standalone mode, you simply copy the JDBC 4-compliant JAR into the AS7_H

[2014-02-02 02:17] helio-frota commented on #32
we need to remember that the end user will do the installation of Hurraa project, so we need try to keep it simple right : D

2014 no more "run db and put war on deployment directory" and have fun ?

yougi is for user groups so  at least one end user is developer to take care of installation, now the end user may be a sysadmin or support guy that only knows backup, restore, MTA, hardware support,

[2014-02-02 02:20] betowebti commented on #32
so, we need to configure a .sh or .bat file like this:
https://gist.github.com/sukharevd/6087988 ?

[2014-02-02 02:29] helio-frota commented on #32
Excelent idea @betowebti !

Yes !

Wee need script install !

[2014-02-02 02:30] garcia-jj commented on #32
When put under `standalone/deployments`, only works in standalone mode. Put under `modules`, works for all modes.

[2014-02-02 02:39] helio-frota commented on #32
@garcia-jj cool !

But for end user it needs to be invisible the math is simple, "no easy setup, no users"
like LFS vs Linux mint , hurraa is for end user not developers.

this is possible ?

"dear end user: "
1) wget this script xpto
2) run and wait
3) access localhost:8080/hurraa

going to create a issue for something like this

[2014-02-02 02:42] helio-frota opened #38 "Create a setup script for gnu linux for end user"
create a setup script to:
1) setup wildfly
2) setup hurraa config

[2014-02-02 02:46] helio-frota commented on #38
can be done with bash script or python or chef (?) or etc..

[2014-02-02 03:13] garcia-jj commented on #32
@eprogramming We have a mistake here. I was read the readme, and the location is wrong. So I only have suggested to change this location to use the right location. Using system layer works, but is not the right location.

But the project is yours. So you can decide what's the best for your users.

[2014-02-02 03:23] betowebti opened #39 "Add Following GPLv3 Licence Text in Files"
This file is part of Hurraa.

   Hurraa is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Hurraa is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty

[2014-02-02 05:28] betowebti commented on #20
After the install Wildfly, press the Windows Key + R type the following comand: sysdm.cpl. When the Systems Properties window opens, click on tab advanced and press button Environment Variables.

![1](https://f.cloud.github.com/assets/698525/2059665/c2f7eae2-8bc5-11e3-9b5e-36a5b8a54420.jpg)

Then click "New", enter the variable name and path of the WildFly installation

![2](https://f.cloud.github

[2014-02-02 05:28] #20 closed, assigned to nobody

[2014-02-02 09:38] htmfilho commented on #39
I think you still have to add Copyright (C) 2014 CEJUG at the beginning.

[2014-02-02 09:46] htmfilho commented on #32
@garcia-jj when running in domain mode, all deployments are replicated among all WildFly instances. Since the JDBC Driver is a deployment it will be replicated and become available as well.

[2014-02-02 09:52] htmfilho commented on #32
@eprogramming the main advantage of a module is the possibility of customising a WildFly installation, zip it, and make sure everybody works with the same configuration. They don't even need to deploy the driver. We can customise a WildFly for Hurraa and make it available for download.

[2014-02-02 12:31] helio-frota commented on #32
@htmfilho " We can customise a WildFly for Hurraa and make it available for download."
So if is really possible we don't need the script install anymore ! Great and thanks for the tip !

[2014-02-02 12:33] helio-frota opened #40 "Customise a WildFly for Hurraa and make it available for download."
Again, easy setup for end users.

[2014-02-02 14:33] paulojribp commented on #39
Are we using GPLv3 on Hurraa? Maybe I lost some discussion about this.

[2014-02-02 14:38] betowebti commented on #39
This is a same license in backward version.

Atenciosamente:

Roberto Coelho

JUGLeader CEJUG | Front-End Dev at CCIA | betoweb.com.br

[2014-02-02 15:01] betowebti commented on #39
Let's leave the license as copyright for now and another time we will resume the discussion.

[2014-02-02 20:41] helio-frota opened #41 "Add WF maven plugin to run on Jenkins."

[2014-02-02 20:42] helio-frota opened #42 "Create sample crud with ajax and default html5 tags"
Just to start a discussion

( discussion started with @efraimgentil  on IRC )

[2014-02-02 20:43] helio-frota opened #43 "Create sample crud with default html5 tags with no navigation"
( discussion started with @efraimgentil  on IRC )

[2014-02-03 00:22] efraimgentil opened #44 "CRUD Equipment Type"
1. Should have the fields
   - Long id, primary key
   - String name, not nullable
2. Should validate on update/insert  and show errors messages if any
3. Should update liquibase with new table and respective fields and constraints

[2014-02-03 00:28] efraimgentil opened #45 "CRUD Model"
1. Should have the fields
   - Long id , primary key
   - String name , not null, unique
   - EquipmentType equipmentType_id   https://github.com/cejug/hurraa/issues/44  "many models can have one type"
2. Should validate on update/insert and show errors messages if any
3. Should update liquibase with new table and respective fields and constraints

[2014-02-03 00:33] efraimgentil opened #46 "CRUD Equipment"
1. Should have the fields
   - Long id, primary key
   - String serial_id, not null , unique
   - Date endOfWarranty
   - Date lastMaintenance
   - String maintenanceDescription
   - Model model, not null, https://github.com/cejug/hurraa/issues/45 "Many equipments can have one model"
2. Should validate on update/insert and show errors messages if any
3. Should update liquibase with new table and r

[2014-02-03 02:03] efraimgentil commented on #44
Closed https://github.com/cejug/hurraa/pull/47

[2014-02-03 02:03] #44 closed, assigned to efraimgentil

[2014-02-03 08:01] htmfilho commented on #32
I think the script is a plus. Both are very interesting strategies.

[2014-02-03 08:11] paulojribp commented on #32
I agree @htmfilho .. or maybe we can have both. Distribute wildfly with hurraa inside and a script to configure important data like database name, user, password, etc .. on root folder named install.sh|bat and other to help client easily start|stop hurraa _start.sh|bat_ and _stop.sh|bat_

[2014-02-03 09:51] helio-frota commented on #32
:+1:

[2014-02-04 02:16] paulojribp opened #52 "Change PureCSS to Bootstrap"
PureCSS is cool but has a thin components. Bootstrap has too much and has a good layout too.
This issue was approved by @efraimgentil, @eprogramming, @danielsoro, @italocostajava and me.

[2014-02-04 03:57] paulojribp commented on #52
Bootstrap added and template already updated.

[2014-02-04 03:57] #52 closed, assigned to nobody

[2014-02-04 08:05] htmfilho commented on #39
@paulojribp we had this discussion in CEJUG's mailing list: https://groups.google.com/d/msg/cejug/lhsTEU5w2-U/psQ0XOwxD0oJ

And then I replied here: https://groups.google.com/d/msg/cejug/lhsTEU5w2-U/_Y-LiQY8OVMJ, suggesting GPLv2, but we can go for GPL v3. They are almost the same.

[2014-02-05 01:01] helio-frota commented on #29
Closing, using bootstrap

[2014-02-05 01:01] #29 closed, assigned to nobody

[2014-02-05 01:03] helio-frota opened #53 "New fresh clone from cejug/hurraa still pointing to purecss"
![01](https://f.cloud.github.com/assets/6443576/2083390/50ce6f3e-8e01-11e3-8438-4f69af660968.png)

[2014-02-05 01:50] #11 closed, assigned to nobody

[2014-02-05 02:58] paulojribp commented on #53
Exactly, I forgot to commit layout.jsp file :/

[2014-02-05 02:58] #53 closed, assigned to nobody

[2014-02-05 14:30] efraimgentil commented on #35
I get my hands on WF8.0.0.Final.Snapshot  and it is solved the issue, so it seens to be a bug of the WF8.0.0.CR1 and was already solved

If you wanna to try it, download the wildfly project on  https://github.com/wildfly/wildfly
and run the build.sh/bat, will take a while, when finished you can take the build on the folder build/target/

[2014-02-05 14:48] helio-frota commented on #35
@efraimgentil great !
So will spread this info on the cejug mailing list now !

[2014-02-05 14:58] helio-frota commented on #43
https://github.com/cejug/hurraa/issues/35

[2014-02-05 14:58] #43 closed, assigned to helio-frota

[2014-02-05 14:58] helio-frota commented on #42
https://github.com/cejug/hurraa/issues/35

[2014-02-05 14:58] #42 closed, assigned to nobody

[2014-02-05 16:04] paulojribp commented on #43
Only registering. The issue #35 invalidate this because this issues was to subscribe the custom tags from the project.

[2014-02-05 16:11] paulojribp commented on #35
Excelent @efraimgentil . Great job.
We can wait for the Final version of WF to close this issue. Was no long to wait. For now, we can continue doing other things.
PS: @eprogramming Cause this I'm a big fan of @efraimgentil . :smile:

[2014-02-05 16:25] paulojribp commented on #42
@eprogramming I believe that this issue can continue (or open another) to make a ajax request completely in html5 or really use jquery. My idea is to make a simple ajax request (not crud) to have an example on how to make ajax. What do you think?

[2014-02-05 22:21] helio-frota commented on #35
:+1:

[2014-02-06 00:26] helio-frota opened #55 "Apply bootstrap layout on sector form"

[2014-02-06 00:28] helio-frota opened #56 "Apply bootstrap layout on equipment type form"

[2014-02-06 00:28] helio-frota opened #57 "Apply bootstrap layout on manufacturer form"

[2014-02-06 00:29] helio-frota opened #58 "Apply bootstrap layout on cost center form"

[2014-02-06 00:29] helio-frota opened #59 "Apply bootstrap layout on user form"

[2014-02-06 01:11] efraimgentil opened #61 "Add ValidationMessages for bean validation with portuguese messages"
1. Add ValidationMessages.properties to the classpath resources
2. Add the portuguese translated messages
3. Find a way to inject the validationMessages bundle to the controllers if needed

[2014-02-06 01:30] helio-frota opened #62 "Remove org.jboss.weld.environment.servlet.Listener from web.xml"
https://github.com/caelum/vraptor4/wiki/17-Depend%C3%AAncias-e-pr%C3%A9-requisitos

[2014-02-06 01:32] #62 closed, assigned to nobody

[2014-02-06 02:12] helio-frota opened #63 "Validation-api X hibernate-validation-impl"
According to the vraptor documentation,  validation implementation shall be added only servlet containers.

"Se você estiver usando um servidor de aplicações como Wildfly ou Glassfish, você não precisa adicionar nenhuma dependência. "

https://github.com/caelum/vraptor4/wiki/17-Depend%C3%AAncias-e-pr%C3%A9-requisitos#wiki-paranamer

So, we are move on api or impl ?

import org.hibernate.validator.

[2014-02-06 07:51] htmfilho commented on #63
I'm in favor of javax.validation.constraints.NotNull

[2014-02-06 08:03] htmfilho commented on #61
You can find a solution to access the bundle at the controller level in Yougi's source: https://github.com/htmfilho/yougi/blob/master/src/main/java/org/cejug/yougi/util/ResourceBundleHelper.java

[2014-02-06 11:05] efraimgentil commented on #63
I'm in favor to use the API ( hibernate validation or any other ), it will
provide a lot of already implemented validations, in other hand if we do
not use the API, we will have to implement our custom validation like the
@NotBlank and others simple validations that will be needed, ofcourse that
is not realy hard but we will lose time with a already made thing, and is
good API ( hibernate right! )

[2014-02-06 11:11] efraimgentil commented on #61
Thanks for the tip Hildeberto, i made a diferent solution but also works as
a charm, i made a qualifier and a producer so when i
put @ValidationMessages in a attribute or a parameter of the
ResourceBundle,  it will trigger the producer and provide de
ValidationMessages.properties bundle.
If i do not use the annotation it will inject the messages.properties
bundle....

2014-02-06 5:03 GMT-03:00 Hil

[2014-02-06 11:41] helio-frota commented on #39
So, just for share information until now all source code history remains unlicensed.
Better add soon, right ?

[2014-02-06 11:44] helio-frota commented on #39
Sorry, i mean, about the copyright notice.
The gplv2 is on root directory.

[2014-02-06 11:54] helio-frota commented on #63
Is preferable what we focus on functionalities, and not making the spec work.
:+1:

About the JAR:
WF CR1 is using hibernate-validator-5.0.2.Final.jar
maybe add scope provided on pom.xml right ?

About the API:
For me on this project, whatever,  features are more important.

http://stackoverflow.com/questions/10684088/missing-notblank-in-jsr-303-how-to-emulate

[2014-02-06 15:43] htmfilho commented on #63
Then I think we made a wrong decision by opting for JavaEE 7. If we want to use any library we want, then it's better to migrate Hurraa to Spring as soon as possible. There is no point on having the specs within WildFly and not using them. Tomcat and Spring with give the freedom everybody is asking for.

In this case, CEJUG will contribute to the Java EE specification in another project.

[2014-02-06 15:57] helio-frota commented on #63
"There is no point on having the specs within WildFly and not using them"
:+1:

"Then I think we made a wrong decision by opting for JavaEE 7"
+-

Another question:
If spec api not solve one problem we need/must wast time with workarounds ?

My opinion : no.

[2014-02-06 16:02] efraimgentil commented on #63
Maybe we can create a separeted project that will focus con the JSR 303 and
make a good implementation of it, if it goes in the right direction we
integrate the two project...  i don't know it is a idea...

I realy want to get to work with JSR 303, but i think it just don't fit in
the hurraa right now.

2014-02-06 12:43 GMT-03:00 Hildeberto Mendonça notifications@github.com:

##

Atenciosamente,
E

[2014-02-06 16:07] htmfilho commented on #63
You guys should move to Spring as soon as possible. Postpone this decision will be a problem in the future. It should be done while the project is still small.

[2014-02-06 16:36] efraimgentil commented on #63
The point that we will use bean validation is not a doubt, we will use it,
the spring can use it too but i believe the point is we will have to
implement each validation from the scratch or use some already made?

We are already using JSR 303 to make some custom validation in the
EquipmentModel CRUD, and will be used in others to validade uniqueness and
others things too.
But if we going to make r

[2014-02-06 17:10] danielsoro commented on #63
When I use validator in model, this validating is valid to faces and jpa.
But, we can use a method parameter validator, as this:

[code]

With this method is possible to validate the requests in vRaptor controller class?

Ps: I don't speak english very well.. I'll improve my english with you. :-)

[2014-02-06 17:14] efraimgentil commented on #63
Yes you can!

2014-02-06 14:10 GMT-03:00 Daniel Cunha notifications@github.com:

##

Atenciosamente,
Efraim Gentil - @efraimgentil https://twitter.com/efraimgentil
Github: efriamgentil https://github.com/efraimgentil

[2014-02-06 18:07] htmfilho commented on #63
It's not that we are going to write each validation from scratch. Of course Hibernate is more complete than the Bean Validation, but if we don't use the JSR 303 we will never know its weaknesses and we won't be able to contribute on its evolution. Therefore, the Hurraa project will not have any concrete international contribution for the community.

If it was a real company with money involved I w

[2014-02-06 18:46] helio-frota commented on #63
for me whatever, but use app server with redundant impl is not good.
and wast time with 'workaround' too.

[2014-02-06 19:09] paulojribp commented on #63
Look, lets make the things going. Our contribution with the JSR can be suggesting new functionalities and using what they already have. Use `@NotNull` and use `@NotEmpty` can be done. And our contribution with JSR 303 is asking why they don't have NotEmpty and making this become a specification. I don't see problem with it. Our server goal is WildFly, so if it provides Hibernate Validation, we use

[2014-02-06 21:05] helio-frota commented on #63
@paulojribp
"Look, lets make the things going. "

"Our server goal is WildFly, so if it provides Hibernate Validation, we use both (javax.validation and org.hibernate) until JSR has it."

For me is perfect, but i start this question because we need to make the things clear and get opinions from the others.

This discussion was started on IRC with @efraimgentil  who agreed at to share on github.

G

[2014-02-06 21:05] #63 closed, assigned to nobody

[2014-02-06 22:11] htmfilho commented on #63
Guys! I've noticed we're having too much discussions like this here and in
the mailing list. The only way to avoid this for the benefit of the project
is going to Spring. To make Hurraa free to use the best of the best, only
Spring can do this.
On Feb 6, 2014 7:46 PM, "eprogramming" notifications@github.com wrote:

[2014-02-06 22:34] #45 closed, assigned to efraimgentil

[2014-02-06 22:35] efraimgentil commented on #61
Done  https://github.com/efraimgentil/hurraa/commit/59bc7dbeca2c8bbd1a338f3078a6932634238d63

[2014-02-06 22:35] #61 closed, assigned to nobody

[2014-02-06 22:39] paulojribp commented on #63
Hildeberto, this is not about Spring or JEE. This is about a single JSR and a framework called Hibernate. Spring has nothing to do with.
Just understand that this is a Good think to contribute with JSR. It is excludent.

[2014-02-06 22:44] paulojribp commented on #63
Ops... It is NOT excludent.

[2014-02-06 22:46] htmfilho commented on #63
That's ok. Let's move on. I sent the message when the issue was already
closed. Sorry.
On Feb 6, 2014 11:39 PM, "Paulo A Junior" notifications@github.com wrote:

[2014-02-06 23:47] #59 closed, assigned to helio-frota

[2014-02-06 23:55] #58 closed, assigned to helio-frota

[2014-02-07 00:05] #55 closed, assigned to helio-frota

[2014-02-07 00:12] #57 closed, assigned to helio-frota

[2014-02-07 00:28] helio-frota commented on #41
closing for now.

[2014-02-07 00:28] #41 closed, assigned to nobody

[2014-02-07 00:30] helio-frota commented on #22
Closing , waiting final version of WF.
feedback from @efraimgentil

[2014-02-07 00:30] #22 closed, assigned to nobody

[2014-02-07 00:39] #32 closed, assigned to nobody

[2014-02-07 00:47] #39 closed, assigned to helio-frota

[2014-02-07 00:55] helio-frota commented on #35
label changed, this is not a hurraa bug.

[2014-02-07 00:57] helio-frota commented on #38
Ok i created this issue but customize is better than apply effort on script.
1) download
2) unpack
3) use
( better and easy approach)

[2014-02-07 01:56] helio-frota opened #64 "Add a copyright note"
Discussion started here:
https://github.com/cejug/hurraa/issues/39

[2014-02-07 02:07] paulojribp commented on #64
Great, I'm going to add the @htmfilho comment:
Copyright (C) 2014 CEJUG
The group project need to be identified.

[2014-02-07 02:22] helio-frota opened #65 "Replace html4.0 doctype to html5 doctype"
from :

[code]

to :

[code]

[2014-02-07 02:36] helio-frota opened #66 "Better main screen presentation"

[2014-02-07 03:27] #64 closed, assigned to nobody

[2014-02-07 08:50] garcia-jj commented on #32
I think that providing a install script will help newbie users. This script can download Wildfly, extract the package, and configure the appserver using cli interface.

At this time I'm very busy with my personal project. But as soon as possible I'll happy to send a pull request with a suggestion for cli script.

Thank you guys.

[2014-02-07 08:58] htmfilho commented on #32
PS: if your personal project is open source do not hesitate to ask the CEJUG community for contributions ;-)

[2014-02-08 03:00] efraimgentil commented on #32
Great idea Garcia, i will finish the script today and provide for the project, thanks for the idea =)

[2014-02-09 15:25] #56 closed, assigned to nobody

[2014-02-09 17:41] danielsoro commented on #56
Efraim monster! Hehehe! :)

[2014-02-09 23:45] emanuelmm commented on #46
i'm working in this!

[2014-02-10 01:47] emanuelmm commented on #46
Start the job in the issue below:
Issue #68

[2014-02-12 01:34] efraimgentil opened #70 "Add bootstraps style to Equipment Model CRUD"

[2014-02-12 01:54] helio-frota commented on #66
Sugestions ?

[2014-02-12 02:04] efraimgentil commented on #66
Maybe a resume of what is new in the version, and what is coming next.
A suggestion box....

2014-02-11 22:54 GMT-03:00 eprogramming notifications@github.com:

##

Atenciosamente,
Efraim Gentil - @efraimgentil https://twitter.com/efraimgentil
Github: efriamgentil https://github.com/efraimgentil

[2014-02-12 02:06] helio-frota commented on #66
Yep, good suggestion.
So this issue is able to be done now.

[2014-02-12 02:24] paulojribp commented on #66
I believe we need to avoid abstract issues like this. So, what is a better main screen presentation?
For me, is a pretty screen with fantastic css to the main screen be so cute. :) But, can be better functionalities, like suggested by @efraimgentil. So, let's create issues more specific, like:
"Put welcome text on main screen" or "Define what content will be on main screen". Nevertheless, will be

[2014-02-12 02:32] helio-frota commented on #66
@paulojribp Yep

[2014-02-12 05:06] paulojribp commented on #35
I have tried to compile WF but unsuccessfully.
I got the follow error:

[code]

And this info of failure: `[INFO] WildFly: Parent Aggregator ........................ FAILURE [6.217s]`

I'm running it on MacOS Mavericks

[2014-02-12 12:29] danielsoro commented on #35
Hi,

News: http://wildfly.org/news/2014/02/11/WildFly8-Final-Released/
WildFly Final Release :-)

[2014-02-12 12:57] #35 closed, assigned to nobody

[2014-02-12 12:58] helio-frota commented on #40
The issue of script do the download, and we don't know if can put hurraa on cejug server BTW suggestions ?

[2014-02-13 07:51] htmfilho commented on #40
Hurraa should be so simple to install that CEJUG doesn't even need to provide a demo version ;-) The hardest part of the installation is installing and configuring the database. If you configure WildFly and deploy Hurraa on it, you just need to stop the server, zip everything and make it available for download. It makes Hurraa as simples as Wordpress to be installed ;-)

[2014-02-13 10:27] helio-frota commented on #40
zip everything and make it available for download. It makes Hurraa as simples as Wordpress to be installed ;-)

@htmfilho Cool , easy setup means more users : ]

[2014-02-13 15:37] #65 closed, assigned to nobody

[2014-02-13 15:44] #70 closed, assigned to nobody

[2014-02-13 17:47] helio-frota opened #73 "Update readme to final version WF"
export WILDFLY_HOME=/your_path_to/wildfly-8.0.0.CR1

[2014-02-13 19:12] helio-frota opened #75 "Add datepicker for bootstrap"
For instance:
http://vitalets.github.io/bootstrap-datepicker/

I don't know if exist others more simple ...

[2014-02-13 19:14] helio-frota commented on #75
Maybe this is better ?!
http://addyosmani.github.io/jquery-ui-bootstrap/components.html#calendar

[2014-02-13 23:32] helio-frota opened #76 "Validation of equipment model duplicating the title"
![03](https://f.cloud.github.com/assets/6443576/2166459/0c6757e0-9507-11e3-95a0-920732dc832b.png)

[2014-02-13 23:57] helio-frota opened #77 "Menu starts in en and then continues in pt_BR"
![04](https://f.cloud.github.com/assets/6443576/2166684/9f959114-950a-11e3-8587-d77f245699fa.png)

[2014-02-14 00:00] helio-frota opened #78 "Change menu name from issue to Incident"
http://en.wikipedia.org/wiki/Incident_management_%28ITSM%29

[2014-02-14 00:02] helio-frota opened #79 "The main language is pt_BR ?"
If the project follows the ocomon so the market is Brasil and primary i18n language needs to be pt_BR not en_US right ?

[2014-02-14 00:07] helio-frota opened #80 "Apply validation on Cost Center"

[2014-02-14 00:07] #73 closed, assigned to nobody

[2014-02-14 00:10] helio-frota opened #81 "Remove "home" option from menu"

[2014-02-14 00:11] #81 closed, assigned to nobody

[2014-02-14 00:36] #66 closed, assigned to nobody

[2014-02-14 00:38] helio-frota opened #82 "Align logo with menus"
![05](https://f.cloud.github.com/assets/6443576/2166996/44933c52-9510-11e3-8389-e26343f40b69.png)

[2014-02-14 00:46] helio-frota opened #83 "Dynamically changing language from the menu"

[2014-02-14 00:47] helio-frota commented on #83
Need to research if Vraptor has this feature built-in

[2014-02-14 01:01] felipewmartins commented on #40
What do you think of creating an installer for IzPack Hurra using?

[2014-02-14 02:38] efraimgentil commented on #38
Due the issue #40 ,  i belive this issue will not be needed

[2014-02-14 03:27] efraimgentil commented on #80
Actually the validation already exists but is launching a exception

[2014-02-14 03:48] #76 closed, assigned to efraimgentil

[2014-02-14 03:58] #77 closed, assigned to nobody

[2014-02-14 04:30] #80 closed, assigned to nobody

[2014-02-15 00:27] helio-frota opened #86 "Apply picketlink"
https://groups.google.com/d/msg/cejug/kFH82tqjfug/V-aEYXm9o1QJ

[2014-02-15 08:13] htmfilho commented on #86
I suggest PicketLink instead. The JAAS security implementation is cool in the Java code, but since the security configuration is veeeeery different from server to server, it's better use a framework to simplify the configuration and enable portability. I think PicketLink is the closest one to the JAAS specification. It uses CDI for authorization.

[2014-02-15 08:34] htmfilho commented on #79
Right. Primeiro focamos no Brasil.

On Fri, Feb 14, 2014 at 1:02 AM, eprogramming notifications@github.comwrote:

##

Hildeberto Mendonça, Ph.D
Blog: http://www.hildeberto.com
Twitter: https://twitter.com/htmfilho http://www.cejug.org

[2014-02-15 13:05] #79 closed, assigned to nobody

[2014-02-15 14:50] helio-frota commented on #86
I found this right now
https://github.com/dipold/vraptor-shiro
but never used shiro before what you think ?

[2014-02-15 14:53] helio-frota commented on #86
https://www.jboss.org/picketlink
PicketLink is an important project under the security offerings from JBoss.
Ok you found first for me whatever, no problem lets start... picketlink +1

[2014-02-15 15:12] danielsoro commented on #86
Picketlink +1

[2014-02-15 15:28] italocosta commented on #86
Picketlink +1

[2014-02-15 15:29] helio-frota commented on #86
Thanks now is picketlink.

[2014-02-15 17:54] paulojribp commented on #86
Cool this vraptor plugin for Shiro, I unknown it. I hear very good things from Shiro (http://shiro.apache.org/). Maybe we can make two branches, One with Shiro and other with Picketlink to see which one is simplest to use and portable.

[2014-02-15 19:02] htmfilho commented on #86
... or VRaptor can increase its integration coverage creating a plugin for PicketLink ;-)

[2014-02-15 19:39] paulojribp commented on #82
The last pull request from @felipewmartins fix this.

[2014-02-15 19:39] #82 closed, assigned to nobody

[2014-02-15 19:41] felipewmartins commented on #86
Picketlink +1

[2014-02-16 14:18] felipewmartins commented on #75
+1 I thought the first and best suited to a "simpler" design option. The second link is broken.

[2014-02-16 15:15] helio-frota commented on #75
@felipewmartins for me the first is good too.

[2014-02-16 15:25] felipewmartins opened #91 "Add dependencies to the maven picketlink"

[2014-02-16 23:34] efraimgentil opened #92 "Add DBUnit for the Integration and Acceptance tests"
This is a voting to implement  DBUnit for the Integration and Acceptance testing. Any suggestion will be appreciated too

Who is in favor?

[2014-02-16 23:53] helio-frota commented on #92
+1

[2014-02-17 01:21] paulojribp commented on #78
@eprogramming Issue is a technologic word. I think this is correct, don't need to change. Hurraa is for technologic resources. From your link, see the example:

Examples[edit]

Incidents should be classified as they are recorded, Examples of incidents by classification are:
Application
service not available
data issue
application bug
disk-usage threshold exceeded
Hardware
system-down (server issue

[2014-02-17 01:28] paulojribp commented on #86
What is the technical arguments to keep Picktlink instead of Shiro? I don't like decide only for feeling or because we like RedHat env more than Apache env. And if we use Picktlink, and more forward it cause trouble or do not support everything we want? Like TomEE do not support JAAS and JSF like we expect for Yougi.
I believe we need technical arguments to choice one instead other.

[2014-02-17 03:07] helio-frota commented on #78
@paulojribp

Based on:
http://en.wikipedia.org/wiki/Incident_management_%28ITSM%29

Please look:
http://blog.emporio-web.com/lang/pt-pt/2009/10/ocomon-gestao-de-incidentes-helpdesk-management-software/
http://www.profissionaisti.com.br/2009/01/ocomon-alternativa-livre-para-montar-o-seu-helpdesk/

[2014-02-17 06:06] htmfilho commented on #86
They are very much the same in terms of functionalities. I just don't feel comfortable using some Apache software, like TomEE, as you said.

But it's not true TomEE doesn't support JAAS and JSF. It support both, but I think the quality of those Apache components are inferior.

[2014-02-17 07:48] htmfilho commented on #78
I think `Incident` is the word used in this kind of system. We use one here that also designates problems reported by IT users as incidents. The word `issue` is more common in software development mainly due to Jira success. `Issue` is a bit confusing because this word is also used to register application improvements (which is not an issue).

[2014-02-17 13:22] paulojribp commented on #78
Great, so lets move on.

[2014-02-17 13:23] #78 closed, assigned to nobody

[2014-02-17 13:34] paulojribp opened #94 "Use NamedQuery in Entity Level"
Hi,
This issue is to know your opinion about the use of `@NamedQueries` annotation.

I disagree with it because it soiled the vision of the class. When the time pass it tends to grow up and the class became every time more dirty. And another thing is that the class be directly part of the DAO layer. If we want to modularize Hurraa in the future, we will have queries where we maybe don't need, and

[2014-02-17 13:43] htmfilho commented on #94
I don't like `@NamedQueries` either. I know it has an advantage which is to be pre-compiled during compilation time, improving a bit the performance, but I think it is bad for readability.

[2014-02-17 14:36] paulojribp opened #95 "Update VRaptor to 4.0.0-RC1"
The VRaptor version 4.0.0-RC1 has arrive and we need to update it on Hurraa:
http://www.guj.com.br/noticias/142-vraptor-4-agora-na-versao-rc1

[2014-02-17 14:41] paulojribp opened #96 "Remove unused import br.com.caelum.vraptor.validator.beanvalidation.ValidatorFactoryCreator"
After new version of VRaptor, the class `br.com.caelum.vraptor.validator.beanvalidation.ValidatorFactoryCreator` has been removed from VRaptor. This class already exists on BeanValidation `javax.validation.ValidatorFactory`. And this test class don't use it.

[2014-02-17 14:42] #95 closed, assigned to nobody

[2014-02-17 14:42] #96 closed, assigned to nobody

[2014-02-17 15:07] helio-frota commented on #94
I don't like @NamedQueries either.

:+1:

Looks like "DonaFlorindaPattern"

[2014-02-17 15:33] paulojribp commented on #94
Great. Waiting for the position from others commiters of the project. @efraimgentil, @danielsoro and @emanuelmm

[2014-02-17 15:36] paulojribp opened #97 "Remove WildFly configuration for standard wrappers"
After WildFly 8.0 Final, this configuration is no longer needed.

[2014-02-17 16:13] efraimgentil commented on #94
Use or do not, i don't see a problem, i used for the performance reasons,
but if we will not use i don't see a problem neither.

2014-02-17 12:33 GMT-03:00 Paulo A Junior notifications@github.com:

##

Atenciosamente,
Efraim Gentil - @efraimgentil https://twitter.com/efraimgentil
Github https://github.com/efraimgentil
LinkedInhttp://www.linkedin.com/profile/view?id=215608595&trk=nav_responsive_tab

[2014-02-17 16:55] emanuelmm commented on #94
the deploy validation is good because we can see error before to use the query, but the negative point is really the project growth.
I think that in our case there aren't reasons to use.

[2014-02-17 21:08] helio-frota commented on #97
Sure after update of vraptor to 4.0.0-RC1 the problem gone.
with final version of WF and vraptor beta-4 the allow-non-standard-wrappers="true" still needed.

[2014-02-17 21:10] #97 closed, assigned to nobody

[2014-02-17 21:17] helio-frota commented on #83
Anyone know if the vratpor have this feature built-in ?

[2014-02-18 02:15] efraimgentil commented on #92
Still need more votes

[2014-02-18 02:16] efraimgentil commented on #46
This issue can be closed ?

[2014-02-18 02:18] efraimgentil commented on #83
I really don't know, but i will make some research.

[2014-02-18 02:42] felipewmartins commented on #92
+1

[2014-02-19 14:45] clairtonluz commented on #38
I'm working on it

[2014-02-19 17:51] paulojribp commented on #38
@clairtonluz, @efraimgentil comment is true. We will not need this anymore because Hurraa will be downloaded with inside WildFly. I'm going to close this issue. We can open another one to create a script to start and stop Hurraa/WildFly from the root path "/".

[2014-02-19 22:58] #83 closed, assigned to nobody

[2014-02-19 23:05] helio-frota opened #99 "Translate messages_en.properties"

[2014-02-19 23:33] danielsoro commented on #94
I don't like @NamedQueries

[2014-02-19 23:36] #94 closed, assigned to nobody

[2014-02-19 23:53] helio-frota commented on #95
After update i see this error:

Archive for required library: '.m2/repository/br/com/caelum/vraptor/4.0.0-RC1/vraptor-4.0.0-RC1.jar' in project 'hurraa' cannot be read or is not a valid ZIP file hurraa  Build path Build Path Problem

I removed the directory /br/com/caelum/vraptor/ and iogi , then problem gone.

[2014-02-20 00:11] felipewmartins commented on #95
I had the same problem, after making the deletion of folders named by @eprogramming  I was in the project -> maven -> update project. And the error has been resolved.

[2014-02-20 11:27] helio-frota commented on #99
great @felipewmartins

[2014-02-20 11:27] #99 closed, assigned to nobody

[2014-02-20 11:30] helio-frota commented on #38
@all

I see the bash script created by @clairtonluz , is almost done so is not a problem to reopen this, because the issue #40 is not done yet and one of goals of this project is deal with CEJUG members contributions.

So going to reopen this issue

[2014-02-20 11:35] emanuelmm commented on #46
I guess that not, because the item 2 wasn't done yet

[2014-02-20 11:38] emanuelmm commented on #75
Is important to apply something like this in equipment screen.

[2014-02-20 13:51] paulojribp commented on #46
Are you doing it or you need some help?

[2014-02-20 13:54] emanuelmm commented on #46
I created only the crud... i'm going to this task soon

[2014-02-20 13:59] paulojribp commented on #38
@eprogramming The contribution is good, but we need to see also what the project need. You has said that Hurraa need to be simple to install because of the end user that will be not a IT professional. I believe that @clairtonluz can work on issue #40. Has a lot of work to do there. I'm not going to close this issue anymore. You can commit on it. But I believe that issue #40 has more sense to the p

[2014-02-20 14:06] efraimgentil commented on #38
Yeah @paulojribp  is right, this effort will going to be wasted, in the end, issue #40 will be used, i also implemented this issue, is a good exercise to learn, but in the end #40 see more reasonable.

[2014-02-20 14:22] paulojribp commented on #95
The main solution is what @felipewmartins commented. The problem is only eclipse maven plugin. What you do @eprogramming solves too because maven will download the jar again.

[2014-02-20 14:46] helio-frota commented on #95
@paulojribp just to share the information, the main solution was remove the jars from directory.
mvn clean package -U do not update here
so @felipewmartins did the hard delete on jars and then update project on eclipse.
this was discussion on IRC : ]

[2014-02-20 14:49] paulojribp commented on #95
I don't need to do anything of this. Only update pom.xml and run maven -> update project. Simple like that.

[2014-02-20 14:53] helio-frota commented on #95
yep, but on my machine and machine of @felipewmartins this error happened so we both decided to share the information to help others contributors.

[2014-02-20 14:54] paulojribp commented on #95
:+1:

[2014-02-20 15:05] helio-frota commented on #38
@all not a problem.

let's move on forward.

[2014-02-20 15:50] helio-frota commented on #38
well done @clairtonluz o/

[2014-02-20 15:50] #38 closed, assigned to nobody

[2014-02-20 16:05] helio-frota opened #103 "Add instructions on Wiki for script setup"
Started on CEJUG mailing list:
https://groups.google.com/d/msg/cejug/f4A58p-zrL8/3_C3oNcNtRQJ

[2014-02-20 16:18] paulojribp commented on #38
Very good @clairtonluz. I believe you can now make a script to be on the root of the project to start/stop/restart and put hurraa as service on linux systems. Good challenge don't think? :) I'm going to open an issue for this. Congratulations again.

[2014-02-20 16:35] paulojribp opened #104 "Create a script to run Hurraa as service in linux based systems"
Create a script that put Hurraa as service. This will help end users and servers admin to run Hurraa. The main goal to this script is:
1. Put the start | stop | restart option to wildfly
2. Add as service in init.d folder
3. Start, stop and restart like the exemplo:
service hurraa start | service hurraa stop | service hurraa restart

[2014-02-20 16:38] clairtonluz commented on #38
Ok, later I look.

##

Atenciosamente Clairton Carneiro Luz

Técnico em Computadores e Redes. Estagiário em desenvolvimento com Java.

Cursando: Analise e Desenvolvimento de Sistemas.

*Blog: *http://clairtonluz.github.io/

_Twitter:_ @ClairtonLuz  - \* Instagram:\* clairtoncl

On Thu, Feb 20, 2014 at 1:18 PM, Paulo A Junior notifications@github.comwrote:

[2014-02-20 16:59] helio-frota commented on #104
Cool.
I started this on 14 February on my blog feel free to use
http://eprogramming.github.io/blog/2014/2/14.html

[2014-02-20 17:08] helio-frota opened #105 "What do you think Junit Controllers Mockito"
I found this what do you think ?

http://yuriadamsmaia.wordpress.com/2011/08/05/com-vraptor-e-mockito-e-muito-mais-facil-testar/

[2014-02-20 17:43] paulojribp commented on #105
I don't like Controllers test. I believe if you need to test controllers is because to many logic was there. So, I suggest to avoid controller test since we don't put logic on controllers.

[2014-02-20 17:49] helio-frota commented on #105
Great. Waiting for the position from others commiters of the project. @efraimgentil, @danielsoro and @emanuelmm

[2014-02-20 17:51] paulojribp commented on #38
Great. This is the issue #104

[2014-02-20 18:09] efraimgentil commented on #105
Unit test in a controller is not really necessary, unless you want to validate some flow logic or trigger a validator, but for that, i would prefer to use acceptance tests.

[2014-02-20 19:01] emanuelmm commented on #105
weeeeell, i agree with @paulojribp and @efraimgentil . In the theory is not necessary

[2014-02-20 19:11] helio-frota commented on #105
Great @danielsoro and @all
3 committers don't like so close this or wait @danielsoro ?

[2014-02-20 19:40] paulojribp opened #106 "Owner(s) do projeto"
Senhores, gostaria de levantar aqui a questão iniciada na lista sobre o Owner do projeto. Eu creio que podemos ter um owner mas sou contra ele ser uma única pessoa tendo em vista o tanto que o projeto tem de participação. Assim, sugiro que levantamos sugestões para decidir isso.
Outra coisa, o projeto deve ser do CEJUG. Os owners só iram ser os caras do cejug que decidem sobre uma questão específi

[2014-02-20 19:45] helio-frota commented on #106
Concordo @paulojribp
TomEE por exemplo não tem só 1 não.

[2014-02-20 19:46] helio-frota commented on #106
"Outra coisa, o projeto deve ser do CEJUG"
Exatamente assim como os projetos são da Apache, perfeito.

[2014-02-20 19:47] danielsoro commented on #106
Sigo a mesma linha do Helio. Concordo e acho que você tem razão Paulo. :-)

On Thu, Feb 20, 2014 at 4:46 PM, eprogramming notifications@github.comwrote:

##

_Daniel Cunha_
Site http://danielsoro.com.br - G
http://github.com/danielsoroitHubhttp://github.com/danielsoro-
LinkedIn http://www.linkedin.com/in/danielvlcunha

[2014-02-20 20:02] htmfilho commented on #106
+1 Pra simplficar, eu acho que os owners devem ser sempre os JUG leaders em
atividade. Deixou de ser JUG leader, deixa de ser owner. Um negócio assim.
Mas é só uma sugestão. ;-)

On Thu, Feb 20, 2014 at 8:47 PM, Daniel Cunha notifications@github.comwrote:

##

Hildeberto Mendonça, Ph.D
Blog: http://www.hildeberto.com
Twitter: https://twitter.com/htmfilho http://www.cejug.org

[2014-02-20 20:10] helio-frota commented on #106
+1 @htmfilho

[2014-02-20 21:35] danielsoro commented on #105
Then, I don't see problem with mockito, I like it, but What the graus of the test? Integration or Unit? I don't see problem with only unit test, is better that nothing. :)

[2014-02-20 22:03] efraimgentil commented on #106
+1 apoiado companheiros utrajovens
+1 @htmfilho https://github.com/htmfilho  também

2014-02-20 17:10 GMT-03:00 eprogramming notifications@github.com:

##

Atenciosamente,
Efraim Gentil - @efraimgentil https://twitter.com/efraimgentil
Github https://github.com/efraimgentil
LinkedInhttp://www.linkedin.com/profile/view?id=215608595&trk=nav_responsive_tab_profile_pic

[2014-02-20 23:36] emanuelmm commented on #106
concordo com @htmfilho mas acho que a regra poderia ser o seguinte:
Todo JugLider é owner dos projetos, mas nem todo owner de projeto é um JugLider, assim os caras mais ativos em um determinado projeto poderiam assumir esse papel em um determinado projeto.

[2014-02-20 23:45] betowebti commented on #106
+1 @htmfilho, discordo @emanoelcordeiro, porque é necessária a manutenção
do repositório. Não estou dizendo que vai acontecer, mas vai que esse owner
"papoque" o repo?! Ele precisaria ter direitos administrativos sobre a
conta do cejug no git e tais diretrizes somente se for jugleader.

Atenciosamente:

Roberto Coelho

JUGLeader CEJUG | Front-End Dev at CCIA | betoweb.com.br

Em 20 de fevereiro de

[2014-02-21 02:12] helio-frota commented on #106
Para quem não ficou sabendo da discussão antiga, a proposta antes era que cada um era dono do projeto e o cejug apoiava "Projetos apoiados pelo CEJUG". Isso foi discutido para que o CEJUG não se transformasse em uma "Apache" em termos de muita burocracia. Mas na filosofia antiga o dono pode papocar, eu mesmo papoquei projetos pessoais varias vezes, pessoas fazem isso todos os dias ao redor do mund

[2014-02-21 02:46] paulojribp commented on #106
Essa discussão é complicadinha :). Ser os jugleaders é complicado porque nem sempre um jugleader vai estar por dentro do projeto. Alguns momentos tem jugleaders que se afastam mais por problemas pessoas e outros momentos voltam e algum outro se afasta e assim vai. Isso é prejudicial ao projeto. Eu estou mais de acordo com a proposta do @emanuelmm. O fato do projeto ser do cejug não quer dizer que

[2014-02-21 02:48] paulojribp commented on #105
I believe this is enough, right? Closing this issue.

[2014-02-21 02:48] #105 closed, assigned to nobody

[2014-02-21 02:51] paulojribp commented on #103
Hi @eprogramming. I rename the issue for what we decide in refer discussion. Right?

[2014-02-21 02:54] helio-frota commented on #103
@paulojribp  +1

[2014-02-21 03:17] betowebti commented on #106
Então eu entendi errado @paulojr. No meu entendimento owner é o dono, o
cara com as chaves do portão. O que eu não concordo é definir aqui
https://github.com/organizations/cejug/settings/owners, mas no projeto, sem
problemas.

Atenciosamente:

Roberto Coelho

JUGLeader CEJUG | Front-End Dev at CCIA | betoweb.com.br

Em 20 de fevereiro de 2014 23:46, Paulo A Junior
notifications@github.comescreveu:

[2014-02-21 03:35] paulojribp commented on #106
Isso @betowebti, ele não precisa ser Owner da organization CEJUG para administrar um projeto. Criei um grupo chamado cejug-owners lá que permite o cada administrar o projeto mas ele não consegue fazer nada com o grupo. Ah, criei só para teste, você pode ver na própria descrição do github. Ainda estou esperando a decisão de todos para podermos decidir essa parte.
Vamos fazer o seguinte sendo mais o

[2014-02-21 04:39] helio-frota commented on #106
+1

[2014-02-21 06:14] htmfilho commented on #106
Vocês. Poderiam, por favor, submeter a decisão final sobre o assunto para o regimento?

Lembro também que o CEJUG tem um Fork do Yougi e por isso é owner daquele fork. Vocês podem criar funcionalidades que não existem no Yougi original. Toda vez que eu vou reimplantar o Yougi no servidor do CEJUG eu atualizou o fork do CEJUG, gero o pacote a partir de lá.

[2014-02-21 15:36] clairtonluz commented on #106
-1

[2014-02-21 16:06] efraimgentil commented on #106
-1

2014-02-21 12:36 GMT-03:00 Clairton notifications@github.com:

##

Atenciosamente,
Efraim Gentil - @efraimgentil https://twitter.com/efraimgentil
Github https://github.com/efraimgentil
LinkedInhttp://www.linkedin.com/profile/view?id=215608595&trk=nav_responsive_tab_profile_pic

[2014-02-21 23:55] helio-frota commented on #103
@paulojribp  ok, tem como comitar no wiki ?
@clairtonluz precisa add a doc do script toda no padrão remember EsmerilProgramming !.

[2014-02-22 18:34] helio-frota commented on #75
or put js files at top or use this technique:
http://writing.colin-gourlay.com/safely-using-ready-before-including-jquery/

for me , put jquery at top again because only 83kb  +1

[2014-02-23 19:18] emanuelmm commented on #46
Completed with the issue #107.

[2014-02-23 19:18] #46 closed, assigned to nobody

[2014-02-23 19:21] paulojribp commented on #106
Ainda está faltando alguns votarem. @danielsoro, @emanuelmm e @betowebti, acho que falta só vocês dos commiters e JL.

[2014-02-23 22:41] betowebti commented on #106
-1

Atenciosamente:

Roberto Coelho

JUGLeader CEJUG | Front-End Dev at CCIA | betoweb.com.br

Em 23 de fevereiro de 2014 16:21, Paulo A Junior
notifications@github.comescreveu:

[2014-02-24 03:57] danielsoro commented on #106
-1

[2014-02-24 10:40] emanuelmm commented on #106
-1

[2014-02-24 12:00] paulojribp commented on #106
A decisão foi pela escolha dos owners poder ser entre os commiters do projeto. Abrindo outra issue para decidirmos os nomes.

[2014-02-24 12:00] #106 closed, assigned to nobody

[2014-02-24 12:04] paulojribp opened #108 "Escolha dos owners do Hurraa"
De acordo com a #106, os owners serão decididos entre os commiters. Assim, votem colocar os nomes de quem você acharia que deveria ser owner. Coloque o nome de até 3 commiters. Os commiters são:
@htmfilho
@efraimgentil
@danielsoro
@eprogramming
@emanuelmm
@paulojribp

Exemplo de votação:
Eu voto em
Voto 1: @candidato1
Voto 2: @candidato2
Voto 3: @candidato3

Lembrando que mais de 3 votos do quarto

[2014-02-24 12:08] htmfilho commented on #108
Voto 1: @efraimgentil
Voto 2: @eprogramming
Voto 3: @paulojribp

[2014-02-24 12:10] danielsoro commented on #108
Voto 1: @efraimgentil
Voto 2: @eprogramming
Voto 3: @paulojribp

[2014-02-24 13:27] efraimgentil commented on #108
Voto 1: @htmfilho
Voto 2: @eprogramming
Voto 3: @danielsoro

[2014-02-24 13:44] emanuelmm commented on #108
Voto 1: @efraimgentil
Voto 2: @eprogramming
Voto 3: @paulojribp

[2014-02-24 16:48] paulojribp opened #111 "When change the language in Sector Screen (by example) the system backs to home"
When I'm on http://localhost:8080/hurraa/sector and change the language, the systems goes to http://localhost:8080/hurraa/. The expected was to stay in sector page.

[2014-02-24 16:50] paulojribp commented on #108
Voto 1: @efraimgentil
Voto 2: @danielsoro
Voto 3: @eprogramming

[2014-02-24 17:02] helio-frota commented on #108
Voto 1: @paulojribp
Voto 2: @efraimgentil
Voto 3: @htmfilho

[2014-02-24 22:05] helio-frota commented on #111
+1

[2014-02-24 22:13] paulojribp commented on #108
Legal galera, valeu por votarem. Como todos os commiters do projeto já votaram, então vamos encerrar mesmo outros não tendo participado.
O time de Owners do projeto será formado por:
Efraim (@efraimgentil) com 5 votos
Hélio (@eprogramming) com 5 votos
Paulo Jr (@paulojribp) com 4 votos

Valeu galera.. as discusões de como será essa direção de owners acho que pode ser feita por e-mail entre os owne

[2014-02-24 22:13] #108 closed, assigned to nobody

[2014-02-25 03:12] efraimgentil commented on #111
Going to take a look =)

[2014-02-25 13:24] #111 closed, assigned to efraimgentil

[2014-03-05 12:13] helio-frota opened #114 "Validate the dev setup environment again"
just drop all and start the setup again. Submit a screenshot from the app running here as comment.

1) delete .m2/repository content
2) delete the project on eclipse
3) delete database and wildfly configuration
4) setup all again
5) put screenshot working or create issue if not working

[2014-03-05 13:10] helio-frota commented on #114
After clone and import the project on eclipse the 21.1MB into .m2/repository directory and the project still with compilation errors. Doing mvn eclipse:eclipse now and more download...

[2014-03-05 13:18] helio-frota commented on #114
After mvn eclipse:eclipse 88.6 MB into .m2/repository directory, refresh on eclipse and compilation errors gone.

[2014-03-05 13:21] helio-frota commented on #114
After database, wildfly setup can't run the project due :
Caused by: java.lang.NoClassDefFoundError: br/com/caelum/vraptor/validator/DefaultValidator

![26](https://f.cloud.github.com/assets/6443576/2333320/0b212886-a469-11e3-8521-255f17a7e58b.png)

[2014-03-05 13:27] felipewmartins commented on #114
I did the same steps performed by @eprogramming, the only difference was in the execution of mvn, where did the eclipse import: import -> existing maven project. I managed to run it with no problem.

[2014-03-05 13:28] helio-frota commented on #114
This too:
Caused by: java.lang.NoClassDefFoundError: com/google/common/collect/ForwardingMap
Caused by: java.lang.ClassNotFoundException: com.opensymphony.sitemesh.webapp.SiteMeshFilter from [Module "deployment.hurraa.war:main" from Service Module Loader]

[2014-03-05 13:29] helio-frota commented on #114
@felipewmartins  i did this too.
i did the import from eclipse but i run the mvn eclipse:eclipse from the console

[2014-03-05 13:47] #75 closed, assigned to nobody

[2014-03-06 00:46] felipewmartins opened #115 "Error after navigating the Hurraa"
I noticed that after running some navigations in Hurraa, including changing language exit a screen and another, and try to include a model of equipment, an exception was thrown by the system.

![erro-hurra2](https://f.cloud.github.com/assets/5208478/2340886/9efe37fc-a4cc-11e3-83f1-3f32cddba87f.png)

[2014-03-06 23:27] efraimgentil commented on #115
@felipewmartins, i'm trying to reproduce the error but without success, can you give a step by step guide so we can reproduce the error?

[2014-03-07 00:05] efraimgentil opened #116 "CRUD Problem Type"
The entity ProblemType will be used to classify the problem types of the occurences.
For now it will have:
*id
*name

[2014-03-08 11:54] felipewmartins commented on #115
It happened as follows @efraimgentil :
If I click "add" on the equipment model and after this I exit the screen and go to another menu, for example: Equipment. And click "add", the exception is thrown.

[2014-03-08 21:09] diogodias86 opened #117 "Equipament form - formatting"
the equipament form have a different formatting than others forms.

[2014-03-08 21:28] diogodias86 opened #118 "Add button - Which position to adopt?"
I saw that in the page of equipment list, the position of "Add" button it is different than others pages. Which page it is correct? I prefer the page of equipment list.

[2014-03-08 21:44] efraimgentil commented on #118
Hi Diogo, are you using the last version of Hurraa?, i searched for those difference but find nothing, some versions ago really had this difference, but i was already corrected.

Can you send a screenshot ?

[2014-03-08 22:52] diogodias86 commented on #118
Hi, Efraim. The images:
![image](https://f.cloud.github.com/assets/315828/2366641/1cc8aea8-a714-11e3-84e3-49efe288a6a9.png)
![image2](https://f.cloud.github.com/assets/315828/2366642/3f305586-a714-11e3-9978-b0ca1e3d8d90.png)

I'm sorry, but where i see the version of the app?

[2014-03-08 22:58] danielsoro commented on #118
Do you following this pattern:

[code]

?

[2014-03-08 23:00] efraimgentil commented on #118
Yes this is it, actually this was already corrected, there is no functionality to show the version of the application, because we don't have a fully functional version yet, but you can open a issue to this, good point!

So you need to update your repository to the latest commit on github. you can follow the instructions o this link to achieve this
https://github.com/cejug/hurraa/wiki/How-use-git-p

[2014-03-08 23:30] diogodias86 commented on #118
Hi, i updated my repository and worked! I'll open a issue for the functionality to show the version.

[2014-03-08 23:47] diogodias86 opened #119 "Show version of the app."
show the version number of the app on the pages.

[2014-03-08 23:49] #118 closed, assigned to nobody

[2014-03-08 23:49] diogodias86 commented on #117
i updated my rep and it's worked!

[2014-03-08 23:49] #117 closed, assigned to nobody

[2014-03-09 00:26] diogodias86 commented on #119
what version number is to show? the value of pom.xml?

[2014-03-09 02:33] efraimgentil commented on #119
Yeah, the version on the pom would be nice, you can see this discussion in the group,
https://groups.google.com/forum/#!topic/cejug/1R_muYDrmQw
it may help you

[2014-03-09 02:52] #116 closed, assigned to nobody

[2014-03-12 03:26] felipewmartins commented on #115
I was testing in CR1 WF ​​version, the final version and the problem does not occur. Validated.

[2014-03-12 03:26] #115 closed, assigned to nobody

[2014-03-17 01:28] efraimgentil opened #121 "Open occurrence"
Screen to open occurrence, the user should fill the fields:
 Sector
 Type of Problem
 Description
 Serial ID of the equipment ( if the occurrence is related to a equipment )
 Date of Register  ( will be filled automatic by the system )
 User ( will be filled automatic by the system )
 Status ( will be filled automatic by the system )

[2014-03-17 01:33] efraimgentil opened #122 "User to Sector"
Give the possibility to add many user to a sector and user to be in many sectors, so when a occurrence open for a sector, the users related to the sector will receive a notification

[2014-03-17 01:37] efraimgentil opened #123 "Login screen"
Login screen that will ask for Username and Password to proceed.

Obs: don't need block the access to rest of the system yet

[2014-03-17 02:32] paulojribp commented on #123
Great @efraimgentil, I was doing that. I have made a little part of it and I will keep doing it. Thanks for the register.

[2014-03-24 00:04] efraimgentil opened #125 "Occurrence State ??"
What you guys think, would be better if we create a entity to represent this state or utilize a constant ENUM state like?

I believe would be more flexible if we use a entity to represent this state and we can create new states or manage them more easily.

[2014-03-24 13:35] diogodias86 commented on #125
I think an entity, for this case, is better too.

[2014-03-25 00:55] diogodias86 opened #127 "User form - password confirmation field"
the user form doesn't have a password confirmation field.

[2014-03-25 12:56] paulojribp commented on #125
I believe that depends. What kind of states we want to create? The user can/need create new states? If he can, so, an entity will be better. But, if the system actions depends of the state to make things, then, we have to take control of the states and a ENUM will be better.
I think that the system flow will depends of the state, so, in this case, I believe that ENUM will be better.

[2014-03-26 14:55] paulojribp opened #128 "Atualizar a versão do VRaptor para RC2"
Basta atualizar o **pom.xml** com o código abaixo e mais importante, realizar alguns testes.

[code]

[2014-03-27 23:15] #128 closed, assigned to nobody

[2014-03-29 01:30] diogodias86 commented on #127
hi guys, what do you think of putting a password confirmation field in the login form and validate of course?

[2014-03-29 03:20] diogodias86 opened #130 "Open Ocurrence form"
I updated the project and open the form
 of occurrences and the following error occurred:
![erro](https://cloud.githubusercontent.com/assets/315828/2557113/c77b13e0-b6f0-11e3-829d-bad44c6b817a.png)

if i comment the 2 lines of the form method, works!

[2014-03-30 00:36] efraimgentil commented on #130
I'm going to take a look, thanks @diogodias86

[2014-03-30 00:38] efraimgentil commented on #127
you mean in the creation of the user? would be nice =)

[2014-03-30 00:49] efraimgentil commented on #130
Done, thanks @diogodias86, update and everything will be fine now.

[2014-03-30 00:49] #130 closed, assigned to nobody

[2014-03-30 13:23] helio-frota commented on #127
hi guys, what do you think of putting a password confirmation field in the login form and validate of course?

+1

[2014-03-30 15:50] diogodias86 commented on #127
ok, i'll do this!!

yeah, @efraimgentil in the creation of the user.

[2014-03-30 15:55] diogodias86 commented on #130
thanks, @efraimgentil ! And I did not even realize that the construcotr was not associating the bean.

[2014-03-30 17:52] diogodias86 opened #132 "Sectors list - Boolean columns values"
Change the columns "Meets Called" and "Active" to write yes or no instead true or false.

[2014-03-31 00:07] efraimgentil opened #134 "List Ocurrence"
Create the view and controller to list the created occurrences

[2014-03-31 14:20] htmfilho commented on #125
I'm in favor of the Enum solution, but if needed, Yougi has a hybrid solution. There is a table with two columns (key, value) used to store the application properties. Take a look:

https://github.com/htmfilho/yougi/blob/master/src/main/java/org/cejug/yougi/entity/ApplicationProperty.java
https://github.com/htmfilho/yougi/blob/master/src/main/java/org/cejug/yougi/entity/Properties.java
https://git

[2014-04-02 18:30] diogodias86 commented on #132
do you think that is a good idea create a custom tag for this?

[2014-04-10 03:15] efraimgentil commented on #132
I don't think this is a problem for now, we would only use this two times, ofcourse if this becomes a problem later would be nice to have a centralized and reusable way to handle it.

[2014-04-10 03:26] efraimgentil commented on #121
Solved, https://github.com/cejug/hurraa/pull/126

[2014-04-10 03:26] #121 closed, assigned to nobody

[2014-04-10 12:49] diogodias86 commented on #132
ok, i'll put only on the page.

[2014-04-11 01:49] efraimgentil commented on #127
Goo job @diogodias86, going to close the inssue!

[2014-04-11 01:49] #127 closed, assigned to nobody

[2014-04-11 13:09] diogodias86 commented on #127
thanks, @efraimgentil !!

[2014-04-12 21:09] diogodias86 commented on #122
It's only a JPA relationship to do or make a view to?? A simple multiple select can be used??

[2014-04-14 13:27] efraimgentil commented on #122
I think a many to many would be perfect to this.
No view needed, but the user CRUD would be changed, so can relate user to sector.

[2014-04-21 22:04] #134 closed, assigned to nobody

[2014-04-23 02:04] efraimgentil commented on #125
Well, we don't have many options but the entity is winning, and aready a month with this issue so we going to the entity solution.

[2014-04-23 02:04] #125 closed, assigned to nobody

[2014-04-23 02:14] efraimgentil opened #137 "CRUD Occurrence Status"
CRUD for the new entity OccurrenceStatus

Will have the fields
- Integer   id
- String     name
- boolean active

[2014-04-23 02:17] efraimgentil commented on #132
Closing, great job @diogodias86

[2014-04-23 02:17] #132 closed, assigned to nobody

[2014-04-23 02:49] paulojribp commented on #137
Great job @efraimgentil. Maybe we can make some announcements on the cejug list to other members can contribute with it. What do you think?

[2014-04-23 02:53] efraimgentil commented on #137
Yeah would be great, i'm studing ocomon right now so we can create more issues to they (and us) contribute.

[2014-04-24 02:26] efraimgentil opened #138 "Update Occurrence"
The user should be able to update occurrence, like the status, add comments, register the progress of the occurrence or any difficulty being faced. Every change should be registered in the occurrence, there is a picture that should be used as example.

Any suggestion would be welcome
![example](https://cloud.githubusercontent.com/assets/2091945/2785541/e6f4cdbc-cb57-11e3-84b6-4db2b6b81666.jpg)

[2014-04-24 02:34] efraimgentil opened #139 "Search Occurrence"
Add the functionality to search an occurrence by the number, can be integrated with the list occurrence screen

[2014-04-24 11:59] araujo-sena-daniel opened #140 "Add a script contribution."
Add a script contribution to help people who want to contribute to the project.

[2014-04-25 01:52] #114 closed, assigned to nobody

[2014-04-25 01:55] helio-frota commented on #140
https://github.com/cejug/hurraa/blob/master/configWildfly8.sh
1) Instalar o mysql/mariadb, criar o banco hurraa no mysql/mariadb usualmente
2) Rodar o script como root e informar o usuário e senha do banco.
3) Apontar o WTP do eclipse para o wildfly que ficará em /opt/

lista:
https://groups.google.com/forum/#!msg/cejug/f4A58p-zrL8/3_C3oNcNtRQJ

[2014-04-25 01:58] helio-frota commented on #104
Esse script vem por default no wildfly, fechando a issue

[2014-04-25 01:58] #104 closed, assigned to nobody

[2014-04-25 02:04] helio-frota commented on #40
going to close this too, vagrant is better. we need to focus more on app.

[2014-04-25 02:07] diogodias86 commented on #122
Ok! I'm working in this!!

[2014-04-25 02:11] diogodias86 commented on #92
+1

[2014-04-25 02:15] helio-frota commented on #86
for now for me the most simple is the best

[2014-04-25 02:44] paulojribp commented on #122
I have assigned this issue to you. You are now a Hurraa committer. Congrats and thanks for your effort.

[2014-04-25 02:50] paulojribp commented on #40
Sorry @eprogramming, I disagree. Vagrant is not so simple and a end user (not programmer) may not know how to use. I will keep this issue open and I completely agree with @htmfilho. Is so easy to use make a simple pack with Wildfly to download all together.

[2014-04-25 02:56] paulojribp commented on #103
Reopening only because the wiki page doesn't follow the project default language, English. Anyone can do it or your self @eprogramming. After that, you can refer the page (https://github.com/cejug/hurraa/wiki/Shell-script-Wildfly-Setup) in the Home (https://github.com/cejug/hurraa/wiki).

A little delay but responding your previous question: Yes, you can made a `git clone git@github.com:cejug/hurr

[2014-04-25 03:02] paulojribp opened #141 "Create a wiki page to teach how to made Wildfly as Unix System Service"
How the issue #104 says, the script will be so useful to made something like:
`service wildfly start` or `service wildfly stop` and made the WildFly starts with the operational system.

The wiki page's will help Hurraa users to use the script that comes with WildFly cited by @eprogramming on issue #104.

[2014-04-25 03:07] paulojribp commented on #140
@eprogramming please keep the default contribution language :)

I believe that this script is not tech one like you quoted. This is a script step by step like you have made to Yougi. This three steps you have cited is so simple and have no details about how to do it in Eclipse or how to compile with maven. I believe this is why @araujo-sena-daniel open this issue.

@araujo-sena-daniel, if I was ri

[2014-04-25 10:02] helio-frota commented on #140
This is a script step by step like you have made to Yougi

@paulojribp , please read. This script was made by Clairton and this is for Hurraa.

[2014-04-25 12:19] araujo-sena-daniel commented on #140
@paulojribp ,
You're right. The script is actually very simple. I needed more details about the project configuration. It would be a step by step tutorial. The aim is to help people who have more basic knowledge. Sorry my current lack of knowledge, but do not know how to reopen the task, and I still have no ability to do this script.
Thank you!

[2014-04-25 12:40] emanuelmm commented on #140
@araujo-sena-daniel, @paulojribp and @eprogramming
Friends how helio said, isn't this the same that clairton did?
https://github.com/cejug/hurraa/blob/master/configWildfly8.sh

[2014-04-25 12:49] efraimgentil commented on #140
This script is not a executable or a way to fast install the Hurraa, is more like a tutorial step by step of what the new contributors would need to do to contribute, the pratices ,configurations, instructions  etc.

The script made by Clairton is a fast way to install the Hurraa and run the application, not a script (steps)  to contribute with the Hurraa

[2014-04-25 13:16] helio-frota commented on #140
Ok now it is clear.
Diff between step-by-step (script) commands and automatic (shell) script.

[2014-04-25 14:20] diogodias86 commented on #122
Hello, @paulojribp !! Thanks...I'm very glad to be part of the team.. Thanks for this opportunity!!

[2014-04-25 20:10] paulojribp commented on #140
Thats right @efraimgentil. Thanks.

[2014-04-25 21:45] helio-frota commented on #122
@diogodias86 +1 congrats !

[2014-05-11 22:43] #139 closed, assigned to nobody

[2014-05-22 12:54] #137 closed, assigned to nobody

[2014-05-28 22:15] helio-frota opened #144 "Any problems with encoding ?"
Hi, i saw this:

[code]

and this :

[code]
- So why we need both encodings ?

Or
- Why we need maven-resources-plugin ?

thanks

[2014-05-29 02:15] helio-frota opened #146 "Update mysql connector"
We are using a connector from 2011.
Lots of bugs and performance issues was done...
We need update this.

http://mvnrepository.com/artifact/mysql/mysql-connector-java/5.1.30

[2014-05-29 04:16] #146 closed, assigned to nobody

[2014-05-30 12:21] efraimgentil commented on #144
@eprogramming  i believe this was added to handle the issue #119

[2014-05-30 12:25] danielsoro commented on #144
I think that default encoding is UTF-8.

[2014-05-30 18:20] paulojribp commented on #144
@efraimgentil, you are right. This was the beginning of this updates, but I prefer to set all to UTF-8. So, if we can use all with utf-8, my vote is to remove this block of code @eprogramming.

[2014-05-30 18:38] helio-frota commented on #144
:+1:

[2014-05-30 20:34] efraimgentil commented on #144
+1 i agree with @paulojribp

[2014-05-30 21:25] #144 closed, assigned to nobody

[2014-06-05 00:46] helio-frota opened #150 "m"

[2014-06-05 01:08] helio-frota opened #151 "messages_pt_BR.properties using iso-8859-1 encoding"
use this command to check file encoding:

[code]

When open it with utf8 editor we get this:

menu.incident=Ocorr�ncias
menu.incident.open=Abrir Ocorr�ncia

[2014-06-05 03:26] helio-frota commented on #150
closing notebook keyboard problem here.

[2014-06-05 03:26] #150 closed, assigned to nobody

[2014-06-05 03:28] #151 closed, assigned to nobody

[2014-06-05 03:36] helio-frota opened #153 "Simple injection usage and no more @Deprecated annotation"
From:

[code]

To:

[code]

[2014-06-05 03:40] helio-frota opened #155 "Please use space and no tabs..."

[2014-06-05 03:57] helio-frota opened #156 "Review and update message bundle"
![bundle](https://cloud.githubusercontent.com/assets/6443576/3183229/790cfab6-ec65-11e3-9ba6-cdeef1ffb491.png)

[2014-06-05 04:06] helio-frota opened #158 "Validation message properties"
- pt_br messages inside en properties.
- pt_br validation properties file must use unicode like messages properties.

[2014-06-05 04:23] helio-frota commented on #86
+1 para apache shiro vraptor plugin
https://github.com/dipold/vraptor-shiro/wiki/PT-BR-04.02.-Autoriza%C3%A7%C3%A3o

[2014-06-05 13:29] paulojribp commented on #151
I agree if this @eprogramming. But I don't like to use `\u00e3` for brazilian characters, I prefer use natural text:

[code]

This can work properly with UTF-8. But, for now, lets keep your way so we can focus our effort on really important things.
Thanks.

[2014-06-05 13:30] paulojribp commented on #151
PS: Sorry for not responding yesterday on IRC. I was teaching, and keep IRC open only for conversation registry.

[2014-06-05 13:32] paulojribp commented on #150
I don't understand this :question:

[2014-06-05 14:01] paulojribp commented on #155
I don't completely agree with this.

![tabsspacesboth](https://cloud.githubusercontent.com/assets/165086/3188342/c5da4ff2-ecb9-11e3-8c53-9a082981a671.png)

We have this discussion on my work and we agree with this:
http://www.emacswiki.org/SmartTabs
http://vim.wikia.com/wiki/Indent_with_tabs,_align_with_spaces

Any IDE can identify _tabs_ and _spaces_.

[2014-06-05 14:05] paulojribp commented on #153
The first one @eprogramming was discussed on the beginning of the project that it keeps the dependencies more clear and more useful for unit testing

[2014-06-05 14:49] helio-frota commented on #150
"closing notebook keyboard problem here."
problem with my keyboard

[2014-06-05 14:55] helio-frota commented on #155
this causes horrible merge...more dificult to read

![merge](https://cloud.githubusercontent.com/assets/6443576/3189195/60d704d0-ecc1-11e3-8ca2-4c636081896c.png)

[2014-06-05 15:02] helio-frota commented on #151
[code]

http://docs.oracle.com/javase/7/docs/technotes/tools/solaris/native2ascii.html

jstl fmt (resource bundle) expects iso-8859-1 instead of UTF-8, is technical issue

[2014-06-05 15:04] paulojribp commented on #151
no problem.

[2014-06-05 23:34] efraimgentil commented on #153
Yeah that was decided in the beginning, unfortunately CDI still have this problem with default constructors, but with the injection in the controller is easier to test and create mocks, so i kind of liked it

[2014-06-06 00:24] #156 closed, assigned to nobody

[2014-06-06 00:25] helio-frota opened #160 "sitemesh3 ?"
https://github.com/sitemesh/sitemesh3

[2014-06-06 00:29] helio-frota commented on #138
+1 go ahead

[2014-06-06 00:41] efraimgentil commented on #138
Working on it

[2014-06-09 00:41] paulojribp commented on #160
Was any advantage with this update? If we have so, go ahead.
I saw that sitemesh was a little lazy. The release alpha was from 2011 - https://github.com/sitemesh/sitemesh3/releases. Only this year they have released. This is a little strange.

[2014-06-09 01:50] helio-frota commented on #160
https://github.com/sitemesh/sitemesh2/
the version 2... last commit 3 years ago

[2014-06-10 08:58] #138 closed, assigned to efraimgentil

[2014-06-10 09:14] helio-frota opened #163 "Udate to vraptor final and wildfly 8.1.0"
as discussed earlier, the Hurraa always uses the final version of all due purposes of collaboration with WildFly and vraptor.

[2014-06-10 09:31] #163 closed, assigned to nobody

[2014-06-10 09:48] helio-frota commented on #160
since this is not part of hurraa goals , going to close this.

[2014-06-10 09:48] #160 closed, assigned to nobody

[2014-06-10 09:48] helio-frota commented on #155
closing this.

[2014-06-10 09:48] #155 closed, assigned to nobody

[2014-06-10 09:50] helio-frota commented on #158
ok this will be done until end of this week.

[2014-06-10 09:51] helio-frota commented on #123
hi all , any progress ?

[2014-06-10 09:52] helio-frota commented on #103
will be done until end of this week.

[2014-06-10 09:53] helio-frota commented on #92
now my vote is -1

[2014-06-10 09:56] helio-frota commented on #40
@paulojribp yes sure.
the main focus is the app now, to get the things working

[2014-06-11 01:42] #158 closed, assigned to nobody

[2014-06-13 18:34] paulojribp commented on #92
I don't know.. what you think @efraimgentil ?

[2014-06-13 18:37] paulojribp commented on #153
@eprogramming whats mean this Closed? Will keep constructors or injection on attribute?

[2014-06-13 21:02] helio-frota commented on #153
hi @paulojribp good catch, i closed this.
well i'm going to use injection on attribute and wait / maybe research better approach for the tests.

[2014-06-13 21:39] #103 closed, assigned to nobody

[2014-06-20 12:51] helio-frota commented on #141
Hi @paulojribp i currently put another server in production here, this is the step-by-step

later i'm going to commit on wiki and translate to english.

( yum install java-1.7.0-openjdk-devel )
utilizar o JDK , o script procura pelo jdk
ou altere o script na unha.

1) cd /opt
2) unzip wildfly-8.0.0.Final.zip
3) mv wildfly-8.0.0.Final wildfly
4) cp wildfly/bin/init.d/wildfly.conf /etc/default/
5) n

[2014-06-20 15:32] helio-frota commented on #141
https://github.com/cejug/hurraa/wiki/Wildfly-server-setup

[2014-06-20 15:32] #141 closed, assigned to helio-frota

[2014-06-23 01:28] paulojribp commented on #141
Great work @eprogramming.

[2014-06-27 16:21] paulojribp commented on #123
I have decided that we are going to use Apache Shiro. :D PicketLink needs too much configuration.

[2014-06-27 16:22] paulojribp commented on #86
+100 :+1:

[2014-07-12 00:37] felipewmartins commented on #123
Any progress??

[2019-04-08 18:41] #123 closed, assigned to paulojribp

[2020-09-30 17:54] helio-frota commented on #40
hi,
Unfortunately I can't work on this issue.
My laptop was stolen around ~2015 and I don't own this github handle: `eprogramming` anymore.
Also I don't remember a lot of java things.

[2020-09-30 17:54] #40 closed, assigned to nobody

[2020-09-30 17:55] helio-frota commented on #86
hi,
Unfortunately I can't work on this issue.
My laptop was stolen around ~2015 and I don't own this github handle: `eprogramming` anymore.
Also I don't remember a lot of java things.

[2020-09-30 17:55] #86 closed, assigned to nobody

[2020-09-30 17:58] #153 closed, assigned to nobody